<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>DroneUAVDemo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>UAV Part</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>uavpart_icon</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.cadnext.uavpart</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CADNext Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>cadnext_icon</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.cadnext.cadnext</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CADNext Assembly</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>cadasm_icon</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.cadnext.cadasm</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.cadnext.uavpart</string>
			<key>UTTypeDescription</key>
			<string>UAV Part</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.item</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>uavpart</string>
				</array>
			</dict>
			<key>UTTypeIconFiles</key>
			<array>
				<string>uavpart_icon</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.cadnext.cadnext</string>
			<key>UTTypeDescription</key>
			<string>CADNext Document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.item</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cadnext</string>
				</array>
			</dict>
			<key>UTTypeIconFiles</key>
			<array>
				<string>cadnext_icon</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.cadnext.cadasm</string>
			<key>UTTypeDescription</key>
			<string>CADNext Assembly</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.item</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cadasm</string>
				</array>
			</dict>
			<key>UTTypeIconFiles</key>
			<array>
				<string>cadasm_icon</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
